@font-face {
    font-family: font1;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2");
}
@font-face {
    font-family: font2;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2");
}
@font-face {
    font-family: font3;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2");
}
@font-face {
    font-family: font4;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.9c00198218646e3b3f345aa4bc3fda51.woff2");
}
body,html,ul,p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar-743px,
.stays-experience-743px,
.search-bar-743px{
    display: none;
}
ul,li{
    padding: 0px;
    margin: 0px;
    gap: 0;
}
.search-bar-350px-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3px;
    margin-top: 3px;
    line-height: 18px;
}
.where-to{
    font-size: 14px;
    font-family: font2;
}
.color-grey {
    color: #6a6a6a;
    font-size: 12px;
    display: flex;
    gap: 4.5px;
    font-family: font1;
    list-style: none;
    padding-left: 0; /* Remove default padding */
}

.color-grey li {
    display: flex;
    white-space: nowrap;
    /* align-items: center; */
    position: relative; 
}
.color-grey li::before {
    content: "\2022";
    margin-right: 5px;
    font-size: 26px; 
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}

.color-grey .Anywhere::before {
    content: none; /* Remove the bullet */
}

.search-bar-350px-flex{
    display: flex;
    border-radius: 20px;
    align-items: center;
    /* justify-content: center; */
    /* gap: 10px; */
    padding: 0 3px;
    margin-bottom: 3px;
    width: 100%;
}
.search-bar-350px{
    margin: 14px 16px 0;
    height: 56px;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    box-shadow: 0 3px 10px rgba(0 0 0 / 0.1);
    border: 1px solid rgba(0 0 0 / 0.1);

}
.search-bar-350px-search-icon{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 12px;
   
}
.categories{
    display: flex;
    overflow-x: scroll;
    height: 74px;
    padding: 0 20px;
    gap: 16px;
    scrollbar-width:none;
    /* justify-content: space-between; */
    align-items: center;
}
.category-items{
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 100%;
   justify-content: center;
/*   
   margin-right: 16px; */
   margin-bottom:3px ;
}
.categories-icon{
    margin-bottom: 4px;
    display: flex;
   justify-content: center;
}
#farm{
   margin-left: 15px;
}
.categories-icon-text{
    font-family: font2;
    font-size: 12px;
    /* line-height: 20px; */
    text-align: center;
    white-space: nowrap;
    color: #6a6a6a;
    font-weight: 10;
    text-align: left;
}

#earth .categories-icon{
    margin-right: 1px;
}
#selected .categories-icon{
    fill: #000;
}
#selected{
    padding: 4px;
    margin-left: 0;
    display: flex;
    /* height: 100%; */
    /* margin: 12px 0px 10px; */
    /* padding-bottom: 20px; */
    border-bottom:3px solid #222222;
    /* margin-right: 22px; */
    margin-right: 6px;
    margin-bottom: 0;
}
header{
    border-bottom: 1px solid black;
}

/* main */
main{
    margin: 20px 0 32px;
    padding: 0 23px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-column-gap: 24px;
    grid-row-gap: 38px;
    /* padding: 16px; */
  }
  
  .card {
    position: relative;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 12px;
    overflow: hidden;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
  }
  
  .card-image-container {
    position: relative;
   
  }
  
  .card img {
    width: 100%;
    /* height: auto; */
    /* height: 100%; */
    /* margin-bottom: 12px; */
    aspect-ratio: 20/19;
    border-radius: 10px;
  }
  
  .image-card-icon-upload {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 8px;
  }
  
  .dots {
    position: absolute;
    /* bottom: 8px; */
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4px;
    color: white;
    font-size: 50px;
  }
  
  .dots span {
    line-height: 0.5;
  }
  
  .card-content {
    margin-top: 10px;
    font-size: 0.9375rem;
    white-space: nowrap;
    line-height: 1.1875rem;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 4px;
    /* padding: 16px; */
  }
  
  .card-content span {
    /* margin: 0 0 8px; */
    font-family: font4;
    color: #6a6a6a;
  }
  .card-content .date,
  .card-content .head {
    color: #000;
    font-family: font2;
  }
.past-experience-head{
    margin-top: 52px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
}
h2{
    padding: 0px;
    margin: 0px;
}
.past-experience-head h2{
    font-size: 32px;
    font-family: font1;
    color: #222222;
}
@media(min-width:375px){
    
    .search-bar-350px{
        margin: 14px 24px 0;
    }
    .search-bar-350px-search-icon{
        margin-left: 17px;
    }
    .search-bar-350px-contents{
        margin-left: 8px;
    }
}
@media(min-width:550px){
    .card-content {
        grid-template-columns: repeat(2, 1fr);
    }   
}

@media(min-width:744px){
    .search-bar-350px{
        display: none;
    }
    .nav-bar-Airbnb-logo-2{
        display: none;
    }
    .search-bar-hidden{
        margin: 14px 16px 0;
        padding: 0px 20px;
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    box-shadow: 0 3px 10px rgba(0 0 0 / 0.1);
       display: none;
      
    }
    .search-bar-hidden-flex-items{
        padding: 0 16px;
        white-space: nowrap;
        text-overflow:ellipsis;
    }
    .search-bar-hidden-flex{
        display: flex;
        border-radius: 20px;
        align-items: center;
        padding: 0 4px;
    }
    #stays-inside-nav{
        display: none;
    }
    .nav-bar-743px{
        display: flex;
         margin: 0 40px;
        height: 80px;
        align-items: center;
        justify-content: space-between;
    }
    .nav-bar-743px-last-flex{
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
    .nav-bar-743px-last-flex-content{
        display: flex;
        align-items: center;
        gap: 24px;
    }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
    .nav-bar-button{
        display: flex;
        padding: 8px 8px 8px 14px;
        border-radius: 9999px;
        border: 1px solid #6a6a6a;
        background-color: #fff;
        align-items: center;
        gap: 14px;
    }
    .color-121212{
        color: #222222;
        font-family: font2;
        font-size: 14px;
        white-space: nowrap;
    }
    #stays-outside-nav{
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 16px;
        height: 80px;
        align-items: center;
        /* display: none; */
    }
    .stays-inside-nav{
        display: none;
    }
    .stays-experience-743px span{
        font-size: 16px;
    }
    header{
        height: 240px;
    }
    .search-bar-743px{
        display: flex;
  justify-content: space-between;
  background: #f7f7f7;
  padding: 5px;
  border-radius: 50px;
  margin: 14px 24px 0;
  text-align: left;
  align-items: center;
  /* margin: 80px 20px 20px 20px; */
    }
    .search-item {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
       
        border-right: 2px solid #ddd;
      }
      .search-item:last-child {
        border-right: none;
      }
      .search-item-icon {
        border: none;
        background: red;
        cursor: pointer;
        padding: 0 10px;
        border-radius: 9999px;
      }
     .grid-container{
        /* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
        grid-template-columns: repeat(2,1fr);
     } 
}
/* @media(min-width:800px){
.grid-container{
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
 } 
} */
@media(min-width:950px){
    .grid-container{
        /* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
        grid-template-columns: repeat(3,1fr);
     } 
    #stays-inside-nav{
        display: flex;
        gap: 24px;
        /* gap: 20px; */
        padding: 0 24px;
        flex: 0 1 auto;
        min-width: 348px;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 80px;
        align-items: center;
        
    }
    .nav-bar-Airbnb-logo-1{
        flex: 1 0 140px;
    }
    .stays-experience-743px{
        display: flex;
        /* padding: 0 24px; */
    }
   .stays-experience-743px span{
        font-size: 16px;
        
        /* margin: 10px 10px; */
    }
    #stays-outside-nav{
        display: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    }
    .grid-container{
        /* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
        grid-template-columns: repeat(3,1fr);
     } 
}
@media(min-width:1027px){
    .grid-container{
        /* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
        grid-template-columns: repeat(4,1fr);
     } 
}
@media(min-width:1128px){
    .nav-bar-Airbnb-logo-2{
        display: block;
    }
    .nav-bar-Airbnb-logo-1{
        display: none;
    } 
    .grid-container{
        /* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
        grid-template-columns: repeat(4,1fr);
     } 
}     
@media(min-width:1200px){
    .grid-container{
        /* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
        grid-template-columns: repeat(5,1fr);
     } 
}
@media(min-width:1600px){
    .grid-container{
        /* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
        grid-template-columns: repeat(6,1fr);
     } 
}



   