@media (min-width: 950px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #stays-inside-nav {
    display: flex;
    gap: 25px;
    padding: 0 24px;
    flex: 0 1 auto;
    min-width: 348px;
    justify-content: center;
    position: absolute;
    left: 0;
    top: -1px;
    right: 0;
    height: 80px;
    align-items: center;
  }
  #stays-inside-nav .color-grey{
    margin-right: 2px;
  }
  .nav-bar-Airbnb-logo-1 {
    flex: 1 0 140px;
  }
  .stays-experience-743px {
    display: flex;
  }
  .stays-experience-743px span {
    font-size: 16px;
  }
  #stays-outside-nav {
    display: none;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .search-bar-743px{
    margin-top: 0px;
    max-width: 848px;
    min-width: 848px;
    /* max-width: 100%; */
  }
   .search-bar-hidden{
    justify-content: center;
    margin: 14px auto;
    max-width: 352.09px;
    
  }
  .search-bar-hidden-position{
    position: absolute;
    top: 2px;
    right: 0;
    left: 0;
  }
  .nav-bar-743px{
    background-color: #fff;
    /* width: 91.8%; */
  }
  .search-bar-experences{
  max-width: none;
  display: flex;
  justify-content: center;
  flex: 1;
  margin-top: 80px;
  }
  .add-dates-content {
    margin-left: 0px;
  }
  header{
    height: 100%;
    border-bottom: 0px;
  }
  #search-item-where{
    padding-right: 124px;
  }
  .search-item{
    padding: 0 23.5px;
  }
  main{
    margin-top: 13px;
  }
  .categories{
    margin-top: 19px;
  }
  .card-content {
    margin-top: 9px;
  }
  #inspiration-gateway-1160px{
    display: block;
  }
  .inspiration-gateway-body-grid{
    grid-template-columns: repeat(3,1fr);
}
.support-flex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.support, .hosting, .airbnb{
  padding: 40px 0;
}
.footer-last-portion-padding{
  padding: 0 40px;
}
.inspiration-gateway{
  padding: 48px 40px;
  justify-content: center;
}
.support{
  border-bottom: none;
}
}
@media (min-width: 1000px) {
  .nav-bar-743px{
    background-color: #fff;
    /* width: 91.9%; */
  }
}