@font-face {
    font-family: font1;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2");
}
@font-face {
    font-family: font2;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2");
}
@font-face {
    font-family: font3;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2");
}
@font-face {
    font-family: font4;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.9c00198218646e3b3f345aa4bc3fda51.woff2");
}
body,html,ul,p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar-743px,
.stays-experience-743px,
.search-bar-743px{
    display: none;
}
ul,li{
    padding: 0px;
    margin: 0px;
    gap: 0;
}
.search-bar-350px-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3px;
    margin-top: 3px;
    line-height: 18px;
}
.where-to{
    font-size: 14px;
    font-family: font2;
}
.color-grey {
    color: #6a6a6a;
    font-size: 12px;
    display: flex;
    gap: 4.5px;
    font-family: font1;
    list-style: none;
    padding-left: 0; 
}

.color-grey li {
    display: flex;
    white-space: nowrap;
    position: relative; 
}
.color-grey li::before {
    content: "\2022";
    margin-right: 5px;
    font-size: 26px; 
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}

.color-grey .Anywhere::before {
    content: none;
}

.search-bar-350px-flex{
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding: 0 3px;
    margin-bottom: 3px;
    width: 100%;
}
.search-bar-350px{
    margin: 14px 16px 0;
    height: 56px;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    box-shadow: 0 3px 10px rgba(0 0 0 / 0.1);
    border: 1px solid rgba(0 0 0 / 0.1);

}
.search-bar-350px-search-icon{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 12px;
   
}
.categories{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    overflow-x: scroll;
    height: 74px;
    overflow-y: hidden;
    padding: 0 20px;
    gap: 16px;
    scrollbar-width:none;
    align-items: center;
}
.category-items{
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 100%;
   justify-content: center;
   margin-bottom:3px ;
   height: fit-content;
}
.categories-icon{
    margin-bottom: 4px;
    display: flex;
   justify-content: center;
}
#farm{
   margin-left: 15px;
}
.categories-icon-text{
    font-family: font2;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    color: #6a6a6a;
    font-weight: 10;
    text-align: left;
}

#earth .categories-icon{
    margin-right: 1px;
}
#selected span{
    color: #000;
}
#selected{
    padding: 4px;
    margin-left: 0;
    display: flex;
    border-bottom:3px solid #222222;
    margin-right: 6px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 14px;
}
header{
    position: sticky;
    box-shadow: rgb(0 0 0/16%) 0 0 6px;
}

/* main */
main{
    margin: 22px 0 32px;
    padding: 0 24px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 40px;
  }
  
  .card {
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .card-image-container {
    position: relative;
  }
  
  .card-image-container img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 20/19;
    border-radius: 10px;
  }
  
  .image-card-icon-upload {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 8px;
  }
  
  .dots {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4px;
    color: white;
    font-size: 50px;
  }
  
  .dots span {
    line-height: 0.5;
  }
  
  .card-content {
    margin-top: 8px;
    font-size: 0.9375rem;
    white-space: nowrap;
    line-height: 1.1875rem;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .card-content span {
    font-family: font4;
    color: #6a6a6a;
    line-height: 19px;
  }
  .card-content .date,
  .card-content .head {
    color: #000;
    font-family: font2;
  }
.past-experience-head{
    margin-top: 52px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
}
h2{
    padding: 0px;
    margin: 0px;
}
.past-experience-head h2{
    font-size: 32px;
    font-family: font1;
    color: #222222;
    line-height: 19px;
}
/* for-footer */
footer{
    background-color: #f7f7f7;
}
.inspiration-gateway{
    padding: 48px 24px;
}
.inspiration-gateway-head h2{
    margin-bottom: 8px;
   font-size: 22px;
   font-family: font1;
}
.inspiration-gateway-body-scroll p{
    font-size: 14px;
    font-family: font2;
    padding: 10px;
    margin: 6px 6px 6px -10px;
}
#inspiration-gateway-1160px{
    display: none;
}
#inspiration-gateway-720px{
    display: none;
}
.inspiration-gateway-grid-division{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: font2;
  
}
.inspiration-gateway-grid-division span{
    color: #6a6a6a;
    font-family: font4;
}
#show-more{
    flex-direction: row;
    align-items: center;
}
.inspiration-gateway-body-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.inspiration-gateway-body-scroll{
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
}
@media(min-width:375px){
    
    .search-bar-350px{
        margin: 14px 24px 0;
    }
    .search-bar-350px-search-icon{
        margin-left: 17px;
    }
    .search-bar-350px-contents{
        margin-left: 8px;
    }
}
@media(min-width:550px){
    /* .card-content {
        grid-template-columns: repeat(2, 1fr);
    }    */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }
     
}


/* @media(min-width:800px){
.grid-container{
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
 } 
} */


   